<div class="card">
  <div class="container">
    <form [formGroup]="PurchasesForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <input type="text" placeholder="Name" formControlName="name" />
      </div>
      <div class="row">
        <input type="text" placeholder="Type" formControlName="type" />
      </div>
      <div class="row">
        <input type="text" placeholder="Category" formControlName="category" />
      </div>
      <div class="row">
        <input type="number" placeholder="Cost" formControlName="cost" />
      </div>
      <div class="row">
        <input class="submit-btn" type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
