<div class="main-container">
  <header class="header">
    <div class="header-content">
      <span class="content"><a href="#">Test</a></span>
      <span class="content"><a href="#">Test</a></span>
      <span class="content"><a href="#">Test</a></span>
      <span class="content"><a href="#">Test</a></span>
    </div>
  </header>

  <router-outlet></router-outlet>
  <!---<app-charts></app-charts>-->
  <app-forms class="form-pos"></app-forms>
  <div>
    <h1>How to use this app</h1>
    <p>
      This app is for keeping track of your budget and bought items.
    </p>
    <p>
      It is ok to store individually bought items or you can merge together items, for example groceries.
    </p>
    <p>
      Just make sure to make it clear what kind of items they are, sutiable category and correct sum of bought item/s
    </p>
  </div>
</div>
